/* =========================================================
   LAYOUT.CSS
   Structure, header, nav, sections, and footer
   ========================================================= */
.admin-body {
  padding-top: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.admin-body.list {
  flex-direction: column;
}

.admin-main {
  position: relative;
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}

.admin-aside {
  width: 0;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-dark-bg);
  border-right: 1px solid var(--color-border);
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.admin-aside.open {
  display: flex;
  width: 250px;
  padding: 2rem;
}

.admin-section-main {
  flex: 1;
  padding: 3rem;
}

.admin-section__navigation {
  margin-top: 3rem;

  nav {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-border);
  }
}
