/*  ========================
    Stylesheet for Responsive Design
    ========================
*/

@media (min-width: 320px) and (max-width: 640px) {
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--color-bg-alt);
  }

  .nav.mobile {
    display: flex;
    gap: 1rem;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
}
/* =========================================================
   TABLET — min-width: 640px
   ========================================================= */
@media (min-width: 640px) {
  .header {
    padding: 1.2rem 2rem;
  }

  .nav {
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    background: transparent;
    border: none;
    padding: 0;
    gap: 1rem;
  }

  .menu-toggle {
    display: none;
  }

  .search {
    display: flex;
  }

  .main--alt {
    padding: 6rem 2rem 4rem;
  }

  .aside {
    position: relative;
    width: 30%;
    display: flex;
  }

  .browse-result__header {
    align-items: start;
    flex-direction: row;
  }

  .section__header--alt {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .section__title {
    font-size: 2rem;
  }

  .section__list--grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .section__list--grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .section__cta {
    flex-direction: row;
  }

  .form__heading {
    p {
      width: 50%;
    }
  }

  .form__action {
    flex-direction: row;
  }

  .form__body {
    width: 50%;
  }

  .comment {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .rating__stars {
    margin-left: auto;
  }

  .footer {
    flex-direction: row;
    padding: 2rem;
    text-align: center;
    align-items: center;
  }
}

/* =========================================================
   SMALL DESKTOP — min-width: 1024px
   ========================================================= */
@media (min-width: 1024px) {
}
